/***** Color *****/
:root {
  --dark: #212121;
  --light: #fbfbfb;
  --primary-color: #ff9b3b;
  --secondary-color: #ffcd43;
  --info-color: #5ac6dd;
  --warning-color: #ee5934;
  --success-color: #fa709a;
  --disabled-color: #c7c7c7;
}

/***** Skin properties - how to explain it? *****/
:root {
  --border-rounded: 8px;
  --shadow-dark: 0px 2px 11px -6px var(--dark);
  --shadow-primary: 0px 6px 38px -16px var(--primary-color);
}
