/***** Colors *****/
:root {
  --dark: #212121;
  --light: #fbfbfb;
  --primary-color: #f3af4c;
  --secondary-color: #ffa067;
  --pink: #ff4379;
}

/***** Skin properties - how to explain it? *****/
:root {
  --border-rounded: 8px;
  --shadow-dark: 0px 2px 12px -6px var(--dark);
  --shadow-primary: 0 16px 32px -16px var(--primary-color);
}

:root {
  --gradient-warm: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
}
