input {
    padding-bottom: 0px;
    line-height: 0px;
    vertical-align: baseline;
    font-weight: 400;
    font-size: 1.5em;
    height: 0.7em;
    margin-left:20px;
    width: calc(100% - 20px);
    border: 0;
    border-bottom: silver 2px solid;
    background: none;
    outline: 0;
}

.big {
   // background: var(--light);
    font-size: 2em;
    height: 1em;
    padding-top: 1em;
    border-bottom: rgb(117, 116, 116) 3px solid;
}
