.input {
  display: block;
  width: inherit;
  padding-top: 1em;

  label {
    margin: 1em;
  }

  input {
    all: unset;
    border: 0;
    font-size: 1em;
    margin-top: 1em;
    -moz-appearance: textfield;
    -webkit-appearance: none;
  }

  span {
    color: var(--grey);
    max-width: 9%;
    margin-left: 5px;
  }

  &.underlined {
    border-bottom: 1px solid var(--dark);
  }
}
