input {
  border-radius: var(--border-rounded);
  padding: 0.5em;
  font-weight: 400; }

.default {
  background: var(--light); }

.primary {
  background: var(--primary-color);
  color: var(--light); }

.secondary {
  background: var(--secondary-color);
  color: var(--light); }
