.formContainer {
    margin: auto;
    width: 80%;
    padding-top: 3em;
    -webkit-box-shadow: 0px 11px 34px -10px rgba(74, 74, 74, 0.42);
    -moz-box-shadow: 0px 11px 34px -10px rgba(74, 74, 74, 0.42);
    box-shadow: 0px 11px 34px -10px rgba(74, 74, 74, 0.42);
    text-align: center;
}

.input {
    width: 80%;
    text-align: end;
    font-size: 1em;
}

.default {
    background: var(--light);
}

.primary {
    background: var(--primary-color);
    color: var(--light);
}

.secondary {
    background: var(--secondary-color);
    color: var(--light);
}