.box.formContainer {
  min-height: 24em;
  justify-content: space-between;

  .add-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    div,
    p {
      text-align: center;
    }

    label {
      text-align: center;
      display: block;
      margin: 2em 1em 1em;
    }

    .input {
      &.underlined {
        text-align: right;
        input {
          width: 80%;
        }
      }
    }
  }

  .btnGroup {
    display: flex;
    justify-content: space-between;
    padding: 1em 0 0;

    .button {
      flex: 1;

      &:first-of-type {
        margin-right: 1em;
      }

      &:last-of-type {
        margin-left: 1em;
      }
    }
  }
}

.algolia-autocomplete {
  width: 100%;
  margin-top: 5px;
}

.algolia-autocomplete .aa-input,
.algolia-autocomplete .aa-hint {
  width: 100%;
  border: 0;
  margin-top: 1em;
  border-bottom: 1px solid var(--dark);
  font-size: 1.5em;
  background-color: transparent !important;
  outline: none;
  text-align: left;
  font-family: inherit;
}

.algolia-autocomplete .aa-hint {
  color: var(--grey);
}

.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: var(--light);
  border: 1px solid var(--add);
  border-bottom-left-radius: var(--border-rounded);
  border-bottom-right-radius: var(--border-rounded);
  border-top: none;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  text-align: left;
  cursor: pointer;
  padding: 5px 4px;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: var(--lilac);
  color: var(--light);
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}
