.button {
  padding: 0.4em;
  font-weight: 400;
  border-radius: var(--border-rounded);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &.round {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }

  span {
    margin: 0 0.1em;
  }

  &.default {
    color: var(--pink);
    &:hover,
    &:active {
      font-weight: bolder;
    }
  }

  &.primary {
    color: var(--light);
    background: var(--primary-color);
    &:hover,
    &:active {
      color: var(--primary-color);
      background: var(--light);
    }
  }

  &.secondary {
    color: var(--light);
    background: var(--secondary-color);
    &:hover,
    &:active {
      color: var(--secondary-color);
      background: var(--light);
    }
  }

  &.icon {
    color: var(--pink);
    &:hover,
    &:active {
      /*todo*/
    }
  }

  &:disabled {
    color: var(--dark);
    background: var(--light);
    box-shadow: var(--light);
  }
}
