.button {
  border-radius: var(--border-rounded);
  padding: 1em;
  font-weight: 400;
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--shadow-primary); }

.button.default {
  background: var(--light); }

.button.info {
  background: var(--info-color); }

.button.primary {
  background: var(--primary-color);
  color: var(--light); }

.button.secondary {
  background: var(--secondary-color);
  color: var(--light); }

.button:disabled {
  background: var(--disabled-color); }
