.button {
  all: unset;
  font: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0.4em;
  transition: all 200ms ease;
  color: var(--light);
  -webkit-text-fill-color: var(--light);

  &.box {
    border-radius: var(--border-rounded);
    font-variant: all-petite-caps;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2em;
  }

  &.round {
    display: inline-block;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    padding: 0;
    text-align: center;
    box-shadow: var(--shadow);

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &.primary {
    background: var(--primary);
  }

  &.warning {
    background: var(--warning);
  }

  &.link {
    background: var(--link);
  }

  &:hover {
    letter-spacing: 2px;
  }

  &:disabled {
    background-color: var(--grey);
  }
}
