@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

/***** Colors *****/
:root {
  --dark: #212121;
  --light: #fbfbfb;
  --primary-color: #f2994a;
  --secondary-color: #ff4c7f;
  --grey: #cfc9c9;
  --pink: #ff4c7f;
  --ocean: turquoise;
  --yellow: #f3af4c;
  --peach: #ffa067;
  --gradient-warm: linear-gradient(180deg, var(--yellow) 0%, var(--peach) 100%);
}

/***** Skin properties - how to explain it? *****/
:root {
  --border-rounded: 8px;
  --shadow-dark: 0px 2px 12px -6px var(--dark);
  --shadow-primary: 0 16px 32px -16px var(--primary-color);
}

body {
  margin: 0;
  background-color: var(--light);
  font-size: 16px;
  line-height: 1;
  color: var(--dark);
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: var(--light);
  font-weight: 400;
}

.banner {
  width: 100%;
  color: var(--pink);
  font-variant: small-caps;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
