@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

/***** Colors *****/

:root {
  --dark: #212121;
  --light: #fbfbfb;
  --orange: #f2994a;
  --grey: #dfe3e9;
  --pink: #ff7bda;
  --ocean: #00a8b6;
  --yellow: #f3af4c;
  --peach: #ffa067;
  --turquoise: #43ada5;
  --sky: #009fb7;
  --royalblue: #028dc2;
  --steelblue: #5675bb;
  --indigo: #8359a0;
  --mulberry: #9b3b72;
  --emerald: #70d299;
  --lightgreen: #97e18b;
  --darkgreen: #006638;
  --forrest: #398640;
  --sage: #96b1ad;
  --marine: #4d6a9f;
  --hotpink: #b4057c;
  --rosewood: #946b80;
  --bubblegum: #c986c9;
  --lemon: #f9f871;
  --lilac: #b08fda;
  --wine: #970063;
  --homeBg: linear-gradient(to bottom, #00a8b6, #6ebad5, #abcde8, #dbe2f2, #fbfbfb);
  --addBg: linear-gradient(to bottom, #b08fda, #c0aae4, #d1c5ed, #e5e0f5, #fbfbfb);
  --settingsBg: linear-gradient(to bottom, #f2994a, #ffa496, #ffbfd5, #fae0f7, #fbfbfb);
  --border-rounded: 8px;
  --shadow: 0px 6px 17px 0px #6868683d;
}

:root {
  --add: var(--lilac);
}

body {
  margin: 0;
  line-height: 1;
  font-size: 100%;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: var(--dark);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1em 0.4em;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 4em;
  width: 100%;
  max-width: 32em;
}

@media only screen and (min-width: 56em) {
  main {
    margin-top: 4em;
  }
}
