h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0;
  background: -webkit-var(--loginBg);
	background: var(--loginBg);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .button {
    margin-top: calc(1em + 4px);
  }
  /* styles for span containing 'eller'/'or' in login/register view between buttons */
  + span {
    color: gray;
    align-self: center;
    text-transform: lowercase;
    margin: 1em 0;
  }

  @media screen and (min-width: 600px) {
    input {
      font-size: 1.2em;
    }
  }
}
