.login {
  margin: auto;
  width: 80%;
  padding-top: 1em;
  -webkit-box-shadow: 0px 11px 34px -10px rgba(74, 74, 74, 0.42);
  -moz-box-shadow: 0px 11px 34px -10px rgba(74, 74, 74, 0.42);
  box-shadow: 0px 11px 34px -10px rgba(74, 74, 74, 0.42);
  text-align: center;

  form {
    width: inherit;
    margin: auto;

  input {
    width: 100%;
    text-align: end;
    font-size: 2em;
  }
}}
