.card {
  background: var(--light);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &.box {
    border-radius: var(--border-rounded);
    box-shadow: var(--shadow);
    width: 100%;
    flex: 0 1 300px;
  }
}
