.item {
  flex: 1 1 30em;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  padding: 1em;
  box-sizing: border-box;
  font-weight: 400;
  color: var(--dark);
  box-shadow: var(--shadow);
  border-radius: var(--border-rounded);
  background: var(--light);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 7em;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      all: unset;
      display: inline-flex;
      font-size: 1em;
      margin: 0;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      flex: 0 1 auto;
    }

    .icon {
      color: var(--ocean);
    }
  }

  .item-footer {
    margin-top: 1.4em;
    display: flex;
    align-items: center;

    .progressbar {
      flex: 1;
    }

    .button {
      align-self: flex-end;
      letter-spacing: 2px;
      font-weight: bold;
    }
  }

  .item-details {
    display: flex;
    margin: 0;
    height: 7em;
    position: relative;
    transition: height 0.5s;
    overflow: hidden;

    ul {
      all: unset;
      margin-top: 1.4em;
      align-self: center;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  .collapsed {
    height: 1px;
  }
}
