article {
  border-radius: var(--border-rounded);
  padding: 1.5em;
  font-weight: 400;
  box-shadow: var(--shadow-primary);
  background: var(--gradient);
  margin: auto;
  margin-top: 2em;
  max-width: 30em;
  color: var(--light);

  header {
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 1.2em;
      font-weight: 1200;
      margin-bottom: 1rem;
    }
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    dt,
    dd {
      padding: 5px 0;
    }
    dt {
      width: 33%;
      font-weight: bolder;
    }

    dd {
      margin-left: auto;
      width: 66%;
    }
  }
  h3 {
  }
}
