.icon {
  display: inline-block;

  &.xsmall {
    width: 0.875em;
    height: 0.875em;
  }

  &.small {
    width: 1.5em;
    height: 1.5em;
  }

  &.medium {
    width: 2em;
    height: 2em;
  }

  svg {
    fill: currentColor;
  }
}
