.icon {
  display: inline-block;

  &.xsmall {
    width: 1.4em;
    height: 1.4em;
  }

  &.small {
    width: 2.4em;
    height: 2.4em;
  }

  &.medium {
    width: 32px;
    height: 32px;
  }

  svg {
    fill: currentColor;
  }
}
