.step {
  border-radius: var(--border-rounded);
  padding: 0.5em;
  font-weight: 400;
  font-size: 1.5em;
  height: 1em;
  width: 100%;
}

.big {
  background: var(--light);
  font-size: 4em;
  height: 2.5em;
}

.default {
  background: var(--light);
}

.primary {
  background: var(--primary-color);
  color: var(--light);
}

.secondary {
  background: var(--secondary-color);
  color: var(--light);
}
