.box {
  box-sizing: border-box;
  text-align: center;

  &.invisible {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &.column {
    flex-flow: column;
  }

  &.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
  }

  &.card {
    border-radius: var(--border-rounded);
    box-shadow: var(--shadow);
    background: var(--light);
    padding: 1em;
  }
}

@media only screen and (max-width: 481px) {
  .box {
    &.invisible {
      width: 100%;
    }
  }
}
