.box {
  box-sizing: border-box;
  text-align: center;

  &.invisible {
    flex: 1 1 16em;
    display: flex;
    flex-direction: column;
  }

  &.card {
    flex: 0 1 16em;
    border-radius: var(--border-rounded);
    box-shadow: var(--shadow);
    background: var(--light);
    padding: 0.5em;
  }
}

@media only screen and (max-width: 481px) {
  .box {
    &.invisible {
      width: 100%;
    }
  }
}
