$bar-color: #fff;
$text-color: rgba($color: #ff4379, $alpha: 0.8);

.progressbar {
  display: flex;
  position: relative;

  span {
    align-self: center;
    position: absolute;
    color: $text-color;
    line-height: 1;
    font-size: 1em;
    left: 1em;
    top: 0.75em;
    z-index: 100;
  }

  span > ::-webkit-progress-value {
    -webkit-animation: bar-fill 2s;
    animation: bar-fill 2s;
    width: 0px;
  }

  progress {
    margin-top: 0.5em;
    border-radius: 1em;
    height: 1.5em;
    width: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    border: 0;
  }

  /* Style the bar colors */
  progress::-webkit-progress-bar {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    border-radius: 1em;
  }

  progress::-webkit-progress-value {
    background: $bar-color;
    border-radius: 1em 0 0 1em;
  }

  progress::-moz-progress-bar {
    background: $bar-color;
    border-radius: 1em 0 0 1em;
  }

  // Change to fully rounded corners if the bar is full
  .fullBar::-webkit-progress-bar {
    border-radius: 1em;
  }

  .fullBar::-webkit-progress-value {
    border-radius: 1em;
  }

  .fullBar::-moz-progress-bar {
    border-radius: 1em;
  }

  @-webkit-keyframes bar-fill {
    0% {
      width: 0;
    }
  }

  @keyframes bar-fill {
    0% {
      width: 0;
    }
  }
}
