$bar-color: var(--ocean);
$text-color: rgba($color: #fbfbfb, $alpha: 1);

.progressbar {
  display: flex;
  position: relative;
  padding: 0 0.4em;
  > span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: $text-color;

    .progressbar-title {
      all: unset;
      display: flex;
      height: 100%;
      align-items: center;
      font-weight: bold;
      justify-content: space-between;
      padding: 0 1em;
      margin: 0;

      span {
        letter-spacing: 1px;
        font-variant-caps: all-petite-caps;
      }
    }
  }

  span > ::-webkit-progress-value {
    -webkit-animation: bar-fill 2s;
    animation: bar-fill 2s;
    width: 0px;
  }

  progress {
    border-radius: 1em;
    height: 1.5em;
    flex: 1;
    background-color: rgba($color: #00a8b6, $alpha: 0.3);
    border: 0;
  }

  /* Style the bar colors */
  progress::-webkit-progress-bar {
    background-color: rgba($color: #00a8b6, $alpha: 0.3);
    border-radius: 1em;
  }

  progress::-webkit-progress-value {
    background: $bar-color;
    border-radius: 1em 0 0 1em;
  }

  progress::-moz-progress-bar {
    background: $bar-color;
    border-radius: 1em 0 0 1em;
  }

  // Change to fully rounded corners if the bar is full
  .fullBar::-webkit-progress-bar {
    border-radius: 1em;
  }

  .fullBar::-webkit-progress-value {
    border-radius: 1em;
  }

  .fullBar::-moz-progress-bar {
    border-radius: 1em;
  }

  @-webkit-keyframes bar-fill {
    0% {
      width: 0;
    }
  }

  @keyframes bar-fill {
    0% {
      width: 0;
    }
  }
}
