$bar-color: #008abb;
$text-color: rgba($color: #fbfbfb, $alpha: 1);

.progressbar {
  display: flex;
  position: relative;

  > span {
    align-self: center;
    position: absolute;
    width: 80%;
    justify-content: space-between;
    color: $text-color;
    line-height: 1;
    font-size: 1em;
    left: 1em;
    top: 0.3em;
    z-index: 50;

    > h3 {
      all: unset;
      display: flex;
      width: 100%;
      font-weight: bold;
      justify-content: space-between;
      margin: 0;
      span {
        line-height: 0.8;
        letter-spacing: 1px;
        font-weight: normal;
        font-variant-caps: all-petite-caps;
      }
    }
  }

  span > ::-webkit-progress-value {
    -webkit-animation: bar-fill 2s;
    animation: bar-fill 2s;
    width: 0px;
  }

  progress {
    border-radius: 1em;
    height: 1.5em;
    width: 90%;
    background-color: rgba($color: #008abb, $alpha: 0.3);
    border: 0;
  }

  /* Style the bar colors */
  progress::-webkit-progress-bar {
    background-color: rgba($color: #008abb, $alpha: 0.3);
    border-radius: 1em;
  }

  progress::-webkit-progress-value {
    background: $bar-color;
    border-radius: 1em 0 0 1em;
  }

  progress::-moz-progress-bar {
    background: $bar-color;
    border-radius: 1em 0 0 1em;
  }

  // Change to fully rounded corners if the bar is full
  .fullBar::-webkit-progress-bar {
    border-radius: 1em;
  }

  .fullBar::-webkit-progress-value {
    border-radius: 1em;
  }

  .fullBar::-moz-progress-bar {
    border-radius: 1em;
  }

  @-webkit-keyframes bar-fill {
    0% {
      width: 0;
    }
  }

  @keyframes bar-fill {
    0% {
      width: 0;
    }
  }
}
