@import url("./utils/reset.css");
@import url("./utils/variables.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
body {
  line-height: 1;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--pink);
  background-color: var(--light); }
