@import url("./utils/reset.css");
@import url("./utils/variables.css");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400");
* {
  box-sizing: border-box; }

body {
  line-height: 1;
  font-family: "Quicksand", sans-serif;
  color: var(--dark-color);
  background-color: var(--dark-color); }
