.settingsComponent {
    margin: auto;
    margin-top: 2em;
    width: 80%;
    padding-top: 3em;
    -webkit-box-shadow: 0px 11px 34px -10px rgba(74, 74, 74, 0.42);
    -moz-box-shadow: 0px 11px 34px -10px rgba(74, 74, 74, 0.42);
    box-shadow: 0px 11px 34px -10px rgba(74, 74, 74, 0.42);
    text-align: center;
}