.settings-card {
  flex: 1;

  > * {
    margin: 2em 0 1em;
  }

  .button {
    align-self: center;
  }
}

.attribution {
  display: flex;
  flex-direction: column;

  p > * {
    padding: 1em;
  }

  h2 {
    font-size: 1em;
    font-weight: 400;
  }
}
